.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

img {
    filter: contrast(150%);
    border-radius: 25px;
}

.footer{
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium'; 
}

table, th, td{
    border: 2px solid;
    width: 75%;
    padding: 15px;
}

th{
    background-color: aqua;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar{
    background-color: burlywood;
}

.navbar a{
    color: brown;
}

.navbar a:hover{
    background-color: yellow;
}

.column{
    float: left;
    height: 110px;
    width: 50%;
    color: blueviolet;
}

.hovertime:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}